<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
th, td {
	border:1px solid #1d436a;
	padding: 5px;
}
table {
	border-collapse: collapse;
}
td.caption {
	font-weight: bold;
	vertical-align: top;
}
</style>
</head>
<body>
<h1 style="background: #1d436a; color: white; padding: 10px 20px;">Students info</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>AGE</th>
    </tr>
    </thead>
    <tbody>
    ${TABLE_BODY}
    </tbody>
</table>
</body>
</html>